h1,
h2,
h3,
h4,
h5,
h6,
h7,
p,
dl,
dd {
  margin: 0;
}
ul,
ol,
form {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
ul li {
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
a,
input,
button,
form {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: none;
}
html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #eee;
}
#wrap {
  height: 100%;
  overflow: auto;
}
#header {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.headerC {
  height: 2rem;
}
.logo {
  float: left;
  padding: 0.51851852rem 0.25185185rem 0.48888889rem;
}
.logo img {
  width: 3.55555556rem;
}
#menuBtn {
  float: left;
  width: 1.91111111rem;
  height: 2rem;
  background: url(../img/menuBtn.png) no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
}
.menuBtnClos {
  background-position: center 0.23703704rem !important;
}
.menuBtnShow {
  background-position: center -1.77777778rem !important;
}
#btns {
  float: right;
  padding-top: 0.31111111rem;
}
#btns a {
  float: left;
  margin-right: 0.22222222rem;
  width: 2rem;
  height: 1.77777778rem;
  background: #690;
  color: #ccc;
  font-size: 0.62222222rem;
  line-height: 1.77777778rem;
  text-align: center;
  border-radius: 3px;
}
#btns .searchBtn {
  font-weight: bold;
  color: #fff;
  margin-right: 0.44444444rem;
  width: 1.92592593rem;
  line-height: 1.77777778rem;
  border-radius: 5px;
}
.search {
  position: relative;
  height: 2rem;
  padding: 0.23703704rem;
}
.search input[type="text"] {
  position: absolute;
  top: 5px;
  left: 5px;
  float: left;
  border-radius: 0.22222222rem;
  width: 12.28148148rem;
  padding: 5px 10px;
  height: 2rem;
  background: #999;
  box-sizing: border-box;
  font-size: 0.6rem;
  border: 1px solid #5a5a5a;
}
.search input[type="text"]:focus {
  background: white;
}
.search input[type="text"]::-webkit-input-placeholder {
  color: red;
}
.search input[type="submit"] {
  position: absolute;
  top: 5px;
  left: 12.74074074rem;
  width: 3.00740741rem;
  height: 2rem;
  float: right;
  border: none;
  background: #414040;
  color: #fff;
  border-radius: 0.22222222rem;
  font-size: 0.77037037rem;
}
.nav {
  width: 100%;
  height: 6rem;
  left: 0;
  top: 2rem;
  border-top: 1px solid #020202;
  padding: 0.14814815rem;
  display: none;
  background: black;
}
.nav li {
  float: left;
  width: 22.5%;
  font-size: .8rem;
  line-height: 2rem;
  text-align: center;
  color: white;
}
.nav li a {
  color: #f1f1f1;
}
.content {
  padding-top: 4.28148148rem;
  position: relative;
  z-index: 1;
}
#navScroll {
  width: 100%;
  height: 2.62222222rem;
  border-bottom: 1px solid #ccc;
  padding: 0.45925926rem 0 0.20740741rem;
  overflow: hidden;
}
#navs {
  height: 1.91111111rem;
  white-space: nowrap;
  font-size: 0;
  float: left;
}
#navs li {
  display: inline-block;
  padding: 0 0.56296296rem;
  line-height: 2.62222222rem;
  font-size: 1.03703704rem;
}
#navs a {
  color: #020202;
}
#navs .active {
  background: #690;
  color: white;
}
#wrapp {
  overflow: hidden;
  position: relative;
}
#liste {
  width: 500%;
  z-index: 100;
}
#liste li {
  width: 20%;
  float: left;
}
#liste img {
  width: 100%;
  display: block;
}
#navSi {
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  line-height: 10px;
  text-align: center;
}
#navSi span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #C00;
  border-radius: 5px;
}
#navSi .active {
  background: #0F0;
}
.tab {
  width: 15.5rem;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}
.tabHeader {
  height: 2rem;
}
.tabHeader h2 {
  float: left;
}
.tabHeader a {
  float: right;
  color: red;
}
.tabNav {
  height: 1.56rem;
  border: 1px solid red;
  position: relative;
  left: 0;
}
.tabNav a {
  left: 0;
  margin-right: .5rem;
  float: left;
  display: inline-block;
  font-size: .7rem;
  width: 1.79rem;
  text-align: center;
}
.tabNav span {
  position: absolute;
  left: 0;
  bottom: .1rem;
  width: 1.79rem;
  height: 3px;
  background: green;
}
.tabList {
  width: 300%;
  overflow: hidden;
  position: relative;
  left: 0;
  border: 1px solid red;
}
.tabList ul {
  width: 33.333333%;
  float: left;
}
.tabNext {
  font-size: 80px;
  text-align: center;
  opacity: 0;
}
.tabShow li {
  width: 7.5rem;
  float: left;
  margin: .12rem;
  padding: 5px;
  box-sizing: border-box;
  background: #efefef;
  font-size: .6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tabShow img {
  width: 100%;
}
.tabShow a {
  font-size: .6rem;
}
.modtow {
  width: 15.5rem;
  margin: auto;
  overflow: hidden;
  margin-top: .5rem;
  background: white;
}
.headerF h3 {
  vertical-align: middle;
  height: 1.56rem;
  line-height: 1.56rem;
  font-size: 0.8rem;
  padding-left: .25rem;
}
.modtow li {
  list-style: none;
  width: 7.5rem;
  float: left;
  padding: 5px;
  margin: 2px;
  vertical-align: middle;
  box-sizing: border-box;
  background: #efefef;
  font-size: .6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modtow img {
  width: 100%;
}
.liuxing {
  width: 15.5rem;
  overflow: hidden;
  margin: auto;
  background: white;
  margin-top: .5rem;
}
.liu {
  height: 1.56rem;
}
.liuxing h3 {
  float: left;
  line-height: 1.56rem;
  font-size: .8rem;
}
.liu a {
  float: right;
  line-height: 1.56rem;
  font-size: .8rem;
}
.lt {
  height: 1.56rem;
  width: 100%;
  position: relative;
}
.lt a {
  display: inline-block;
  float: left;
  padding: .12rem;
  font-size: .7rem;
  width: 1.79rem;
}
.lt p {
  position: absolute;
  left: 0;
  bottom: .1rem;
  background: green;
  width: 1.79rem;
  height: 3px;
}
.liuxing li {
  position: relative;
  float: left;
  width: 7.5rem;
  margin: 2px;
  padding: 3px;
  background: #efefef;
  overflow: hidden;
  box-sizing: border-box;
  font-size: .6rem;
}
.liuxing li .showtv {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.liuxing ul li div:last-child {
  height: .8rem;
  line-height: .8rem;
  font-size: .6rem;
  margin-top: .4rem;
}
.liuxing li img {
  width: 100%;
}
.liuxing li a {
  font-size: .6rem;
  text-align: left;
}
.liuxing li p i {
  float: left;
}
.liuxing li p span {
  line-height: .8rem;
  float: left;
  margin-left: 4px;
}
.liuxing ul p:first-child i:first-child {
  margin: 3px;
  width: 18px;
  height: 18px;
  background: url(../img/ice.png);
}
.liuxing ul p:last-child > i {
  margin-left: 6px;
  width: 18px;
  height: 18px;
  background: url(../img/ice.png) 0 -16px;
}
.rm {
  width: 15.5rem;
  height: 1.56rem;
  margin: 5px auto;
  background: white;
}
.rm div:first-child a {
  padding-left: .6rem;
  font-size: .8rem;
  line-height: 1.56rem;
  float: left;
}
.rm div:last-child a {
  line-height: 1.56rem;
  font-size: .6rem;
  float: right;
  padding-right: .6rem;
}
.footer {
  width: 100%;
  font-size: .6rem;
  height: auto;
  text-align: center;
  padding: 1rem .5rem;
  background: white;
}
